<div class="modal-header d-flex justify-content-between">
  <h4 class="modal-title">{{ title }}</h4>
  <button 
  data-cy="guide-modal-X"
  type="button" 
  class="ps-2 pe-2" 
  aria-label="Close" 
  (click)="activeModal.dismiss('Cross click')"
  >X</button>
</div>
<div class="modal-body">
  <app-guide-accordion [items]="content"></app-guide-accordion>
</div>
<div></div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">סגירה</button>
</div>