<div class="lottery-modal">
  <div class="modal-header">
    <h4 class="modal-title mx-auto fs-3">לוטרי דראפט רוקיז</h4>
  </div>
  <div class="modal-body mt-3" dir="ltr">
    <ul *ngFor="let pick of draftPicks.reverse(); let i = index">
      <li class="lottery-teams">{{ pick }}</li>
    </ul>
    <ul>
      <li>9. {{ lotteryData[2].name }}</li>
      <li class="mt-3 mb-3">10. {{ lotteryData[1].name }}</li>
      <li>11. {{ lotteryData[0].name }}</li>
    </ul>
    <div class="position-absolute bottom-50 end-50">
      <p
        *ngIf="didLotteryBegin"
        class="fs-3 border border-3 border-danger rounded p-2"
      >
        {{ lotteryCountdown }}
      </p>
      <p
        *ngIf="!didLotteryEnd"
        [ngClass]="
          !didLotteryBegin
            ? 'fs-3 border border-3 border-danger rounded p-2'
            : ''
        "
      >
        {{ resultsInterval }}
      </p>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-around">
    <div *ngFor="let team of teamsLotteryDetails" class="d-flex">
      <div
      [class.text-decoration-line-through]="team.drawn"
      >{{ team.name }} {{ team.lotteryOdds }}%</div>
    </div>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="activeModal.dismiss()"
      [disabled]="!didLotteryEnd"
    >
      Close
    </button>
  </div>
</div>
