<h1 class="text-center mt-3">מדריך לחוקי הליגה</h1>
<p class="text-center mt-3">המדריך מחולק לשישה פרקים, מומלץ לקרוא לפי הסדר. כל הגדרות הליגה - קטגוריות, עמדות וכו' - יפורטו בעמוד הליגה ביאהו</p>
<div class="container text-center mt-5">
    <div class="row">
      <div class="col">
        <a (click)="open($event)">
          סקירה כללית
      </a>
      </div>
      <div class="col">
        <a (click)="open($event)">
        חוזי קיפרים
      </a>
      </div>
      <div class="col">
        <a (click)="open($event)">
        רוקיז: נהלי דראפט וחוזים
        </a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <a (click)="open($event)">
        "שוק שכירי חרב"
        </a>
      </div>
      <div class="col">
        <a (click)="open($event)">
        לו"ז טרום-עונה
      </a>
      </div>
      <div class="col">
        <a (click)="open($event)">
        סעיפי השבתה, שחרור ושונות
        </a>
      </div>
    </div>
  </div>