<h1 class="text-center mt-3">מדריך לחוקי הליגה</h1>
<p class="text-center mt-3">המדריך מחולק לשישה פרקים, מומלץ לקרוא לפי הסדר. כל הגדרות הליגה - קטגוריות, עמדות וכו' - יפורטו בעמוד הליגה ביאהו</p>
<div class="container text-center mt-5">
    <div class="row">
      <div class="col">
        <button
        onclick=""
        >
          סקירה כללית
        </button>
      </div>
      <div class="col">
        <button>
        חוזי קיפרים
      </button>
      </div>
      <div class="col">
        <button>
        רוקיז: נהלי דראפט וחוזים
      </button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <button>
        "שוק שכירי חרב"
      </button>
      </div>
      <div class="col">
        <button>
        לו"ז טרום-עונה
      </button>
      </div>
      <div class="col">
        <button>
        סעיפי השבתה, שחרור ושונות
      </button>
      </div>
    </div>
  </div>
  <app-guide-modal></app-guide-modal>