<div class="container">
  <form [formGroup]="teamNameForm" (ngSubmit)="onSubmit(teamNameForm)">
    <div class="row">
        <div class="names d-flex justify-content-between">
      <div class="col-sm">
        
        <div class="form-group w-50">
          <label>קוראים לי</label>
          <input
            class="form-control"
            type="text"
            placeholder="first/last name"
            formControlName="myName"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group w-50">
          <label>אבל כולם מכנים אותי</label>
          <input
            class="form-control"
            type="text"
            placeholder="your nickname"
            formControlName="nickname"
          />
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group w-50">
          <label >עיר - מגורים או של קבוצה אהודה</label>
          <input
            id="city"
            class="form-control"
            type="text"
            placeholder="city name"
            formControlName="city"
          />
        </div>
      </div>
      </div>
      
    </div>
    <div class="row w-75 mt-4">
      <div class="col-sm">
        <div class="form-group">
          <label>תחום עניין</label>
          <input
            class="form-control"
            type="text"
            placeholder="your interests"
            formControlName="interests"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label>כינוי הקבוצה שאוהד</label>
          <input
            class="form-control"
            type="text"
            placeholder="favourite team's nickname"
            formControlName="favTeamNick"
          />
        </div>
      </div>
      <div class="row mt-4">
      <div class="col-sm">
        <div class="form-group">
          <label>אסטרטגיית פנטזי מועדפת</label>
          <select
            class="form-control"
            formControlName="fantasyStrategy"
            (change)="onStrategySelect($event)"
          >
            <option value="" disabled selected>בחר אסטרטגיה מתאימה</option>
            <option value="one">סגל מאוזן</option>
            <option value="two">פאנט</option>
            <option value="three">עומק ויציבות</option>
            <option value="four">סליפרים וסטרימרים</option>
          </select>
        </div>
        </div>
        <div class="col-sm">
        <div class="form-group">
            <label>אסטרטגיה לבניית דיינסטי</label>
            <select
              class="form-control"
              formControlName="dynastyStrategy"
              (change)="onDynastySelect($event)"
            >
              <option value="" disabled selected>האם כבר יש לך אחת?</option>
              <option value="one">להרכיב סופר-טים של שחקני מקס</option>
              <option value="two">לבנות לרוחב ולטווח ארוך על 'סולידיים'</option>
              <option value="three">לצבור צעירים על חוזי רוקי והארכות נוחות</option>
              <option value="four">לחסוך ולרפד את התקציב לקראת אוקשנים שופעי כוכבים</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label>בשאיפה להתנהל כמו</label>
            <select
              class="form-control"
              formControlName="managerStyle"
              (change)="onManagerSelect($event)"
            >
              <option value="" disabled selected>בחר אחד מהשמות הבאים</option>
              <option value="one">דני איינג'</option>
              <option value="two">סאם פרסטי</option>
              <option value="three">דריל מוריי</option>
              <option value="four">גרג פופוביץ'</option>
              <option value="five">סם הינקי</option>
              <option value="six">וורן באפט</option>
              <option value="seven">אילון מאסק</option>
              <option value="eight">לוגאן רוי</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <button 
    type="submit"  
    class="mt-5" 
    [disabled]="formSubmitted"
    >שים בג'בטה</button>
    <mat-progress-bar *ngIf="loading" mode="indeterminate" class="mt-2"/>
  </form>
  <p dir="ltr" class="mt-3" *ngIf="generatedNames.length > 0">
    Potential names for your team are:
  </p>
    <ul dir="ltr" class="d-flex justify-content-evenly mt-3">
      <li 
      *ngFor="let name of generatedText$ | async"
      (click)="clickedName(name)"
      >{{ name }}</li>
    </ul>
  
</div>