<div class="modal-header">
  <h4 class="modal-title">Add New Team</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-team-form
    [userId]="teamModalService.userId"
    [teamName]="teamModalService.teamName"
  ></app-team-form>
</div>
<div class="modal-footer">
  <ul>
    <li *ngFor="let player of teamModalService.payrollList">
      {{ player.player }}
    </li>
  </ul>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss()"
  >
    Close
  </button>
</div>