h4, li {
    color: black;
}

ul {
  list-style: none;
}

.fullscreen-modal .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .fullscreen-modal .modal-content {
    height: 100%;
  }
  