<div class="modal-dialog modal-fullscreen">
  <div class="modal-content">
    <div class="modal-header ">
      <h4 class="modal-title">
        <b>ליצירת שם קבוצה: </b><br>
         - מלא באנגלית אחד מארבעת השדות: 'שם'; ',כינוי'; 'עיר'; 'תחום עניין'.<br>
         - הוסף אחד מארבעת השדות: 'כינוי קבוצה שאוהד'; 'אסטרטגיית פנטזי/דיינסטי'; 'בשאיפה להתנהל כמו'.<br>
         - הקלק על 'שים בג'בטה' ולאחר מכן על השם המועדף עליך.  
      </h4>
      <button
        type="button"
        class="btn btn-outline-dark position-absolute top-0 start-0 mt-2 ms-4"
        aria-label="Close"
        (click)="activeModal.dismiss('Close click')"
      >X</button>
    </div>
    <div class="modal-body">
      <app-name-form></app-name-form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark ms-2"
        (click)="activeModal.close('Close click')"
      >
        סגירה
      </button>
    </div>
  </div>
</div>
