<table>
    <thead>
      <tr>
        <th>Delete</th>
        <th>User ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Team Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><button (click)="deleteUser(user.userId)">Delete</button></td>
        <td>{{ user.userId }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td 
        (click)="openTeamModal(user.userId, user.teamName)"
        class="team-name"
        >
            {{ user.teamName }}
          </td>
      </tr>
    </tbody>
  </table>
  