<table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th class="text-center">Next Year Budget</th>
        <th class="text-center">Current Roster</th>
        <th>Rookies Draft Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td (click)="editTeam(team.name)" class="team-name">{{ team.name }}</td>
        <td class="text-center">{{ team.nextYearBudget }}</td>
        <td>
          <ul>
            <li *ngFor="let player of team.currentRoster">{{ player.player }} - {{ player.purchasePrice }}</li>
          </ul>
        </td>
        <td>
          <ul *ngIf="team.rookiesDraftDetails">
            <li *ngFor="let detail of team.rookiesDraftDetails | keyvalue">
              <ng-container *ngIf="detail.key !== '__typename'">
                {{ detail.key }}: {{ detail.value }}
              </ng-container>
            </li>
          </ul>                   
        </td>
      </tr>
    </tbody>
  </table>