<div class="wrapper pb-5 d-flex flex-column align-items-center">
    <div class="header d-flex">
        <a class="page-link ms-5 me-2 mt-3" href="/quick-guide" tabindex="-1" aria-disabled="true">לעמוד הקודם</a>
        <h1 class="mt-2 ms-3">פירוט תגמולים בהתאם למיקום בסוף העונה</h1>
        
    </div>
    <ul class="list-group ms-5">
        <li class="list-group-item">
            1. 0$ תוספת לתקציב, בחירה 11 בדראפט הרוקיז, ראשון בתור לשוק שכירי החרב, החזר דמי כניסה + 300 ש"ח
        </li>
        <li class="list-group-item">
            2. 5$ תוספת לתקציב, בחירה 10 בדראפט הרוקיז, שני בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            3. 10$ תוספת לתקציב, בחירה 9 בדראפט הרוקיז, שלישי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            4. 50$ תוספת לתקציב, סיכויים של 0.5% להגריל בחירת טופ 3 בדראפט הרוקיז, רביעי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            5. 45$ תוספת לתקציב, סיכויים של 3.5% להגריל בחירת טופ 3 בדראפט הרוקיז, חמישי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            6. 40$ תוספת לתקציב, סיכויים של 7% להגריל בחירת טופ 3 בדראפט הרוקיז, שישי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            7. 35$ תוספת לתקציב, סיכויים של 11% להגריל בחירת טופ 3 בדראפט הרוקיז, שביעי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            8. 30$ תוספת לתקציב, סיכויים של 15% להגריל בחירת טופ 3 בדראפט הרוקיז, שמיני בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            9. 25$ תוספת לתקציב, סיכויים של 21% להגריל בחירת טופ 3 בדראפט הרוקיז (או שבוחר שישי במינימום), תשיעי בתור לשוק שכירי החרב, אין החזר דמי כניסה
        </li>
        <li class="list-group-item">
            10. 20$ תוספת לתקציב, 21% להגריל בחירת טופ 3 בדראפט הרוקיז (או שבוחר חמישי במינימום), עשירי בתור לשוק שכירי החרב, אין החזר דמי כניסה
        </li>
        <li class="list-group-item">
            11. 15$ תוספת לתקציב, 21% להגריל בחירת טופ 3 בדראפט הרוקיז (או שבוחר רביעי במינימום), 11 בתור לשוק שכירי החרב, אין החזר דמי כניסה
        </li>
    </ul>
</div>