<div class="wrapper pb-5 d-flex flex-column align-items-center">
    <div class="header d-flex">
        <a class="page-link ms-5 me-2 mt-3" href="/quick-guide" tabindex="-1" aria-disabled="true">לעמוד הקודם</a>
        <h1 class="mt-2 ms-3">פירוט תגמולים בהתאם למיקום בסוף העונה</h1>
        
    </div>
    <ul class="list-group ms-5">
        <li class="list-group-item">
            1. 0$ תוספת לתקציב, בחירה 12 בדראפט הרוקיז, ראשון בתור לשוק שכירי החרב (מחתים בהנחה של 5$ מתג המחיר המקורי), החזר דמי כניסה + 300 ש"ח
        </li>
        <li class="list-group-item">
            2. 5$ תוספת לתקציב, בחירה 11 בדראפט הרוקיז, שני בתור לשוק שכירי החרב (4$ הנחה), החזר דמי כניסה
        </li>
        <li class="list-group-item">
            3. 10$ תוספת לתקציב, בחירה 10 בדראפט הרוקיז, שלישי בתור לשוק שכירי החרב (3$ הנחה), החזר דמי כניסה
        </li>
        <li class="list-group-item">
            4. 55$ תוספת לתקציב, סיכויים של 0.5% להגריל בחירת טופ 3 בדראפט הרוקיז, רביעי בתור לשוק שכירי החרב (2$ הנחה), החזר דמי כניסה
        </li>
        <li class="list-group-item">
            5. 50$ תוספת לתקציב, סיכויים של 3.5% להגריל בחירת טופ 3 בדראפט הרוקיז, חמישי בתור לשוק שכירי החרב (1$ הנחה), החזר דמי כניסה
        </li>
        <li class="list-group-item">
            6. 45$ תוספת לתקציב, סיכויים של 6.5% להגריל בחירת טופ 3 בדראפט הרוקיז, שישי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            7. 40$ תוספת לתקציב, סיכויים של 8% להגריל בחירת טופ 3 בדראפט הרוקיז, שביעי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            8. 35$ תוספת לתקציב, סיכויים של 9.5% להגריל בחירת טופ 3 בדראפט הרוקיז, שמיני בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            9. 30$ תוספת לתקציב, סיכויים של 11% להגריל בחירת טופ 3 בדראפט הרוקיז, תשיעי בתור לשוק שכירי החרב, החזר דמי כניסה
        </li>
        <li class="list-group-item">
            10. 25$ תוספת לתקציב, 20.33% להגריל בחירת טופ 3 בדראפט הרוקיז (או שבוחר שישי במינימום), עשירי בתור לשוק שכירי החרב, אין החזר דמי כניסה
        </li>
        <li class="list-group-item">
            11. 20$ תוספת לתקציב, 20.33% להגריל בחירת טופ 3 בדראפט הרוקיז (או שבוחר חמישי במינימום), 11 בתור לשוק שכירי החרב, אין החזר דמי כניסה
        </li>
        <li class="list-group-item">
            12. 15$ תוספת לתקציב, 20.33% להגריל בחירת טופ 3 בדראפט הרוקיז (או שבוחר רביעי במינימום), 12 בתור לשוק שכירי החרב, אין החזר דמי כניסה
        </li>
    </ul>
</div>