table {
  background-color: white;
  color: black;
}

  .rookie-cell {
    border: 3px dashed rgb(191, 136, 136);
  }

// .slide-enter-active {
//   transition: transform 500ms ease-in-out;
// }

// .slide-enter {
//   transform: translateX(-100%);
// }
