<div (click)="handleTableClick()">
  <app-overlay-msg *ngIf="user" [showOverlay]="showOverlay" data-cy="overlay"></app-overlay-msg>
  <table 
  data-cy="table"
  mat-table 
  [dataSource]="dataSource" 
  class="mat-elevation-z8" 
  dir="ltr"
  [@slideIn]
  >
    <ng-container matColumnDef="onFinalRoster">
      <th mat-header-cell *matHeaderCellDef>
        סגל סוף עונה (23/24), בחירות ותקציב
      </th>
      <td mat-cell *matCellDef="let element">{{ element.onFinalRoster }}</td>
    </ng-container>

    <ng-container matColumnDef="nextSeasonSalary">
      <th mat-header-cell *matHeaderCellDef>פיי רול לעונה הקרובה (24/25)</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="getDisplayedNextSeasonSalary(element).style"
      >
        <span
        *ngIf="getDisplayedNextSeasonSalary(element).value !== 0" 
          matTooltip="{{ 
            isString(getDisplayedNextSeasonSalary(element).value) ? 
            element.tooltipContent[1] : element.tooltipContent[0]
          }}"
        >
          {{ getDisplayedNextSeasonSalary(element).value }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="season26Salary">
      <th mat-header-cell *matHeaderCellDef>פיי רול 25/26</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="getDisplayedNextSeasonSalary(element).style"
        [ngStyle]="{ border: getRookieTooltip(element.season26Salary).style}"
        [matTooltip]="getRookieTooltip(element.season26Salary).tooltip"
      >
        <ng-container *ngIf="selectedPayroll === 'one'; else otherCases">
          {{ showColumnsForValueOne(element) && element.season26Salary[0] !== 0 ? 
            element.season26Salary?.[0] : '' }}
        </ng-container>
        <ng-template #otherCases>
          <ng-container *ngIf="selectedPayroll === 'two'; else thirdCase">
            {{ showColumnsForValueTwo(element) && element.season26Salary[0] !== 0 ? 
              element.season26Salary?.[0] : '' }}
          </ng-container>
          <ng-template #thirdCase>
            {{ showColumnsForValueThree(element) && element.season26Salary[0] !== 0 ? 
              element.season26Salary?.[0] : '' }}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="season27Salary">
      <th mat-header-cell *matHeaderCellDef>פיי רול 26/27</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="getDisplayedNextSeasonSalary(element).style"
        [ngStyle]="{ border: getRookieTooltip(element.season27Salary).style}"
        [matTooltip]="getRookieTooltip(element.season27Salary).tooltip"
      >
        <ng-container *ngIf="selectedPayroll === 'one'; else otherCases">
          {{
            showColumnsForValueOne(element) && element.season27Salary[0] !== 0
              ? element.season27Salary[0]
              : ''
          }}
        </ng-container>
        <ng-template #otherCases>
          <ng-container *ngIf="selectedPayroll === 'two'; else thirdCase">
            {{
              showColumnsForValueTwo(element) && element.season27Salary[0] !== 0
                ? element.season27Salary[0]
                : ''
            }}
          </ng-container>
          <ng-template #thirdCase>
            {{
              showColumnsForValueThree(element) && element.season27Salary[0] !== 0
                ? element.season27Salary[0]
                : ''
            }}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="season28Salary">
      <th mat-header-cell *matHeaderCellDef>פיי רול 27/28</th>
      <td
        mat-cell
        *matCellDef="let element"
        [style]="getDisplayedNextSeasonSalary(element).style"
        [ngStyle]="{ border: getRookieTooltip(element.season28Salary).style}"
        [matTooltip]="getRookieTooltip(element.season28Salary).tooltip"
      >
        <ng-container *ngIf="selectedPayroll === 'one'; else otherCases">
          {{
            showColumnsForValueOne(element) && element.season28Salary[0] !== 0
              ? element.season28Salary[0]
              : ''
          }}
        </ng-container>
        <ng-template #otherCases>
          <ng-container *ngIf="selectedPayroll === 'two'; else thirdCase">
            {{
              showColumnsForValueTwo(element) && element.season28Salary[0] !== 0
                ? element.season28Salary[0]
                : ''
            }}
          </ng-container>
          <ng-template #thirdCase>
            {{
              showColumnsForValueThree(element) && element.season28Salary[0] !== 0
                ? element.season28Salary.length >= 2
                  ? element.season28Salary[1]
                  : ""
                : ""
            }}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
