<nav class="navbar navbar-expand-lg bg-body-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
    >
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="navbar-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/home"
            (click)="isMenuCollapsed = true"
            data-cy="home-link"
          >
            עמוד הבית
          </a>
        </li>
        <li class="navbar-item" id="auth-link">
          <a *ngIf="user" class="nav-link" (click)="handleLogout($event)">
            התנתקות
          </a>
          <a *ngIf="!user" class="nav-link" (click)="open($event)"> התחברות </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="/guide"
            (click)="isMenuCollapsed = true"
            data-cy="guide-link"
            >חוקת הליגה</a
          >
        </li>

        <li class="nav-item">
          <div 
          *ngIf="user"
          class="nav-link"
          >
            <select (change)="selectTeam($event)">
              <option value="">פיי רול קבוצות</option>
              <option value="{{ team.name }}" *ngFor="let team of allTeamsData">
                {{ team.name }}
              </option>
            </select>
          </div>
          
          <div
            *ngIf="!user"
            class="nav-link"
          >
            <label>רוסטר ופיי רול לדוגמה</label>
            <select class="me-2" (change)="handleSelectChange($event)">
              <option value="" [selected]="selectedValue === ''">בחר סגנון</option>
              <option value="one">סטנדרטי</option>
              <option value="two">ממקסם ערך</option>
              <option value="three">ממקסם תקציב</option>
            </select>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
