
.nav-link {
  color: rgb(211, 201, 201);
  list-style: none;
}

button {
  color: rgb(211, 201, 201);
  border: 1px solid rgb(211, 201, 201);

}

ul {
    display: flex;
    justify-content: space-between;
    width: 95vw;
  }

#auth-link {
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      margin-right: 23px;
    }
  }