<div *ngIf="noAccount; else hasAccount">
  <div class="form-container d-flex flex-column">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
      <div class="w-75">
        <mat-form-field>
          <mat-label> כתובת מייל</mat-label>
          <input
            matInput
            autocomplete="email"
            placeholder="name@example.com"
            formControlName="email"
            required
          />
          <mat-error *ngIf="signupForm.get('email')?.invalid">{{
            getErrorMessage(signupForm.get("email"))
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex w-75">
        <mat-form-field>
          <mat-label>סיסמה</mat-label>
          <input
            type="password"
            autocomplete="new-password"
            matInput
            placeholder="מינימום 6 תווים"
            formControlName="password"
            required
            minlength="6"
            matInput [type]="hide ? 'password' : 'text'"
          />
          <mat-error *ngIf="signupForm.get('password')?.invalid">{{
            getErrorMessage(signupForm.get("password"))
          }}</mat-error>
        </mat-form-field>
        <button 
          mat-icon-button matSuffix 
          class="class=h-50 align-self-center mb-3 me-3"
          (click)="hide = !hide" 
          [attr.aria-label]="'Hide password'" 
          [attr.aria-pressed]="hide"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </div>

      <div class="w-75">
        <mat-form-field>
          <mat-label>שם פרטי</mat-label>
          <input
            matInput
            placeholder="שם פרטי"
            formControlName="firstName"
            autocomplete="first-name"
            required
          />
          <mat-error *ngIf="signupForm.get('firstName')?.invalid">{{
            getErrorMessage(signupForm.get("firstName"))
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="w-75">
        <mat-form-field>
          <mat-label>שם משפחה</mat-label>
          <input
            matInput
            placeholder="שם משפחה"
            formControlName="lastName"
            autocomplete="family-name"
            required
          />
          <mat-error *ngIf="signupForm.get('lastName')?.invalid">{{
            getErrorMessage(signupForm.get("lastName"))
          }}</mat-error>
        </mat-form-field>
      </div>
      <div id="team-name" class="d-flex justify-content-between">
        <div>
          <mat-form-field>
            <mat-label>שם קבוצה</mat-label>
            <input
              matInput
              placeholder="אפשר להוסיף מאוחר יותר"
              formControlName="teamName"
            />
          </mat-form-field>
        </div>
        <div>
          <button class="btn btn-sm btn-outline-dark mt-3">
            מצא לי שם קבוצה!
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark mt-4">הרשמה</button>
    </form>
  </div>
</div>

<ng-template #hasAccount>
  <div class="form-container d-flex flex-column justify-content-between">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <div>
        <mat-form-field>
          <mat-label> כתובת מייל</mat-label>
          <input
            matInput
            autocomplete="username"
            placeholder="name@example.com"
            formControlName="email"
            required
          />
          <mat-error *ngIf="loginForm.get('email')?.invalid">{{
            getErrorMessage(loginForm.get('email'))
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex w-75">
        <mat-form-field>
          <mat-label>סיסמה</mat-label>
          <input
            type="password"
            autocomplete="current-password"
            matInput
            placeholder="הסיסמה שלך כאן"
            formControlName="password"
            required
            matInput [type]="hide ? 'password' : 'text'"
          />
          <mat-error *ngIf="loginForm.get('password')?.invalid">{{
            getErrorMessage(loginForm.get('password'))
          }}</mat-error>
        </mat-form-field>
        <button 
          mat-icon-button matSuffix 
          class="class=h-50 align-self-center mb-3 me-3"
          (click)="hide = !hide" 
          [attr.aria-label]="'Hide password'" 
          [attr.aria-pressed]="hide"
          >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </div>
      <button type="submit" class="btn btn-outline-dark mt-4">התחברות</button>
    </form>
  </div>
</ng-template>
