<div class="d-flex flex-column">
<h1 
class="text-center mt-3" 
[@slideInFromRight]="h1AnimationState" 
(@slideInFromRight.done)="animateNextElements()"
>payNroll</h1>
<h2 class="text-center mt-4">
    <ul data-cy="h2-list" class="d-flex justify-content-center list-unstyled ms-3">
        <li 
        *ngIf="listItem1Visible" 
        [@fadeInListItems]
        data-cy="first-li"
        >לנהל הרכבים.
    </li>
        <li 
        *ngIf="listItem2Visible" 
        [@fadeInListItems]
        data-cy="second-li"
        > &nbsp;לנהל פיי רול. 
    </li>
        <li 
        *ngIf="listItem3Visible" 
        [@fadeInListItems]
        data-cy="third-li"
        > &nbsp; לבנות שושלת.</li>
    </ul>
</h2>
<div class="container-sm" *ngIf="containerVisible" [@fadeInContainer]>
    <ng-container *ngIf="user; else noLoggedUser" data-cy="welcome-message">
        ברוך הבא, {{ ' ' + user.firstName }}! באמצעות החשבון שלך כאן, תוכל לקבל תמונת מצב עדכנית של קבוצתך (ושל שאר הקבוצות בליגה) בכל הנוגע למחירי הרכישה של שחקנים בסגל הנוכחי, מצב הפיי רול העתידי, תקציב מעודכן לדראפט האוקשן הבא ובחירה/בחירות דראפט רוקיז (מיקום מוערך או מוגרל בפועל, חוב בחירות או בחירות אקסטרה). העדכונים יגיעו החל מסיום דראפט האוקשן הקרוב והלאה. בנוסף, בכל טרום-עונה החל מזו שלקראת עונה 2 בליגה, תוכל להשתמש בממשק אינטראקטיבי להרכבת ושליחת הרכב הקיפרים שלך לעונה הקרובה.
    </ng-container>

</div>

    <button 
    *ngIf="buttonVisible"
    [@fadeInButton]
    type="button" 
    class="mx-auto mt-4 btn btn-outline-warning"
    routerLink="/keepers-form"
    data-cy="goto-keepers-form"
    >לבחירת קיפרים (סימולציה)</button>
  
<div *ngIf="isMenuCollapsed" class="frame mt-1">
    <div *ngFor="let i of [0, 1, 2, 3, 4, 5]; let index = index" class="circle circle-{{index}}">
      <div class="dollar">$</div>
    </div>
  </div>
</div>

<footer class="text-center mt-5 fixed-bottom">
    <small>
        פותח ע"י מתי ברסקי. תחת בנייה
    </small>
</footer>

<ng-template #noLoggedUser>
    ברוכים הבאים! payNroll היא ליגת דיינסטי - פנטזי NBA כמובן - המבוססת על דראפט אוקשן, ווייבר תקציבי 
     והחתמת קיפרים על חוזים.
    אתר זה נועד להיות פלטפורמה להנגשת חוקי הליגה ולניהול הקבוצה שלכם 
     בין עונה לעונה, בדגש על הפיי רול 
    (איזה  קיפרים חתומים אצלכם לטווח הארוך ובאיזה סכומים),
     מאזן תקציבי ובחירות דראפט עתידיות.  
</ng-template>