<h1 class="text-center mt-3">payNroll</h1>
<h2 class="d-flex justify-content-center mt-4">
    <span>לנהל הרכבים.</span>
    <span>לנהל פיי רול.</span>
    <span>לבנות שושלת.</span>
</h2>
<div class="container-md">
<p class="text-center fs-5 mt-3 ms-5 me-5">ברוכים הבאים! payNroll היא ליגת דיינסטי - פנטזי NBA כמובן - המבוססת על דראפט אוקשן, ווייבר תקציבי 
     והחתמת קיפרים על חוזים.
    אתר זה נועד להיות פלטפורמה להנגשת חוקי הליגה ולניהול הקבוצה שלכם 
     בין עונה לעונה, בדגש על הפיי רול 
    (איזה  קיפרים חתומים אצלכם לטווח הארוך ובאיזה סכומים),
     מאזן תקציבי ובחירות דראפט עתידיות.   
</p>
</div>
<footer class="text-center mt-5 fixed-bottom">
    <small>
        פותח ע"י מתי ברסקי. תחת בנייה
    </small>
</footer>