<h1 class="text-center mt-3">payNroll</h1>
<h2 class="text-center mt-4">
    לנהל הרכבים. לנהל פיי רול. לבנות שושלת.
</h2>
<p class="text-center fs-5 mt-3">ברוכים הבאים! payNroll היא ליגת דיינסטי - פנטזי NBA כמובן - המבוססת על דראפט אוקשן, ווייבר תקציבי <br>
     והחתמת קיפרים על חוזים.
    אתר זה נועד להיות פלטפורמה להנגשת חוקי הליגה ולניהול הקבוצה שלכם <br>
     בין עונה לעונה, בדגש על הפיי רול 
    (איזה  קיפרים חתומים אצלכם לטווח הארוך ובאיזה סכומים),<br>
     מאזן תקציבי ובחירות דראפט עתידיות. פרטים נוספים במדריך.
</p>
<footer class="text-center mt-5 fixed-bottom">
    <small>
        פותח ע"י מתי ברסקי. תחת בנייה
    </small>
</footer>